{{ form_start(form) }}

 <div class="col-12">

        <div class="row error">
                {{ form_errors(form.nombre,{ 'attr': {'class': 'col-5 form-control'} }) }}
            </div>
            <div class="row">
            {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'col-2 mb-1 col-form-label'}}) }}
            {{ form_widget(form.nombre, { 'attr': {'class': 'col-3 mb-1 form-control'} }) }}
            </div>
            <div class="row">
            {{ form_label(form.gatoperro, 'Animal', {'label_attr': {'class': 'col-2 col-form-label'}}) }}
            {{ form_widget(form.gatoperro, { 'attr': {'class': 'col-3 form-control'} }) }}
            </div>
            <button class="btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
    {{ form_widget(form) }}

{{ form_end(form) }}


