{{ form_start(form) }}
    <div class="col-12">
            <div class="row">
            {{ form_label(form.decripcion, 'Decripcion', {'label_attr': {'class': 'col-2 mb-1 col-form-label'}}) }}
            {{ form_widget(form.decripcion, { 'attr': {'class': 'col-3 mb-1 form-control'} }) }}
            {{ form_errors(form.decripcion,{ 'attr': {'class': 'col-5 mb-1 form-control'} }) }}
            </div>
            <div class="row">
            {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'col-2 mb-1 col-form-label'}}) }}
            {{ form_widget(form.nombre, { 'attr': {'class': 'col-4 mb-1 form-control'} }) }}
            {{ form_errors(form.nombre,{ 'attr': {'class': 'col-5 mb-1 form-control'} }) }}
            </div>
            <div class="row">
            {{ form_label(form.stock, 'Stock', {'label_attr': {'class': 'col-2 mb-1 col-form-label'}}) }}
            {{ form_widget(form.stock, { 'attr': {'class': 'col-4 mb-1 form-control'} }) }}
            {{ form_errors(form.stock,{ 'attr': {'class': 'col-5 mb-1 form-control'} }) }}
            </div>
             <div class="row">
            {{ form_label(form.precio, 'Precio', {'label_attr': {'class': 'col-2 mb-1 col-form-label'}}) }}
            {{ form_widget(form.precio, { 'attr': {'class': 'col-4 mb-1 form-control'} }) }}
            {{ form_errors(form.precio,{ 'attr': {'class': 'col-5 mb-1 form-control'} }) }}
            </div>
            <div class="row">
            {{ form_label(form.categoria, 'Categoria', {'label_attr': {'class': 'col-2 mb-1 col-form-label'}}) }}
            {{ form_widget(form.categoria, { 'attr': {'class': 'col-4 mb-1 form-control'} }) }}
            {{ form_errors(form.categoria,{ 'attr': {'class': 'col-5 mb-1 form-control'} }) }}
            </div>
            <button class="btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
{{ form_end(form) }}
